
  #regForm {
    width: 370px;
    height: 460px;
    background: #F8D117;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.2);
    min-width: 350px;
    max-width: 360px;
    display: table;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    padding-top: 15px;
  }


 
  
  input {
    height: 50px;
    text-align: center;
    background-color: #f9e867;
    border: none;
    width: 80%;
    margin: 0 35px 8px 35px;
    
    
    
    font-size: 16px;
    
    border-bottom: 3px solid #cab734;
    outline: none;
    
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    border-bottom: 3px solid red;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    height: 50px;
    width: 70%;
    background-color: #1194f6;
    border: none;
    color: aliceblue;
    display: block;
    margin: 15px auto;
  font-size: 15px;
  
  }



  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #000000;
  }

    label {
      margin: 0 0 0 40px;
      font-family: arial, sans-serif;
  }
  
  

  
 .tab h2{
  font-size: 23px;
    text-align: center;
    position: relative;
    color: #0a39ab;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: arial, sans-serif;
 }


 .mensagem-ajuda {
  color: rgb(255, 0, 0);
  display: none;
  font-size: 14px; /* Tamanho da fonte desejado */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#mensagemAgencia {
  color: chocolate;
  display: block;
  text-align: center; /* Centraliza o texto */
}

#mensagemConta {
  color: chocolate;
  display: block;
  text-align: center; /* Centraliza o texto */
}




/* checkbox guardar ag cc



/* Estilo para o switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Ocultar o input padrão */
.switch input {
  display: none;
}

/* Estilo para o controle deslizante */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

/* Estilo para o estado "ligado" do switch */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Estilo quando o switch está marcado (ligado) */
input:checked + .slider {
  background-color: #2196F3;
}

/* Movimento da alavanca para a direita quando o switch está ligado */
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}




.message {
  display: inline-block;
  vertical-align: middle;
  text-align: center; /* Centraliza horizontalmente */
  margin-left: 15px; /* Adiciona espaço à esquerda */

  color: #8d812b;
  font-size: 15px;
  font-family: arial, sans-serif;
}